{% if geocoding_data is empty %}
    <div  class="test">
        <p style="color:blue;">asela ddddd</p>>
            </div>

            <h1 id="t" class="test">changeee fbb ima hover</h1>
   
      {# <div id="fb-share-button">
         <img src="{{ plugin_path("GoogleMapsWidget") }}/images/img.svg">
          <span>Share</span>
      </div> #}


 <div class="row">
            <div class="col-3">
              <div class="row">
                <div  class="col-2">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                      </label>

                </div>  
                <div id="fb-share-button" class="col-5 pic"><img src="{{ plugin_path("GoogleMapsWidget") }}/images/img.svg"></div>  
                <div class="col-5"></div>
                
              </div>
                
            
            </div>
            <div class="col-3">
                <div class="row">
                  <div  class="col-2">
                      <label class="switch">
                          <input type="checkbox">
                          <span class="slider round"></span>
                        </label>
  
                  </div>  
                  <div id="fb-share-button" class="col-5 pic"><img src="{{ plugin_path("GoogleMapsWidget") }}/images/img.svg"></div>  
                  <div class="col-5"></div>
                  
                </div>
                  
              
              </div>
              <div class="col-3">
                  <div class="row">
                    <div  class="col-2">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                          </label>
    
                    </div>  
                    <div id="link_id" class="col-5 pic"><a href="#"><img src="{{ plugin_path("GoogleMapsWidget") }}/images/img.svg"></a></div>  
                    <div class="col-5"></div>
                    
                  </div>
                    
                
                </div>
                <div class="col-3">
                    <div class="row">
                      <div  class="col-2">
                          <label class="switch">
                              <input type="checkbox">
                              <span class="slider round"></span>
                            </label>
      
                      </div>  
                      <div id="fb-share-button" class="col-5 pic"><img src="{{ plugin_path("GoogleMapsWidget") }}/images/img.svg"></div>  
                      <div class="col-5"></div>
                      
                    </div>
                      
                  
                  </div>
        </di




            <script src="{{ plugin_path("GoogleMapsWidget") }}/js/dist/jquery-3.3.1.js"></script>
{% endif %}
